<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Registration Successful</title>
</head>

<body>
<div>
  <table role="presentation" style="border-collapse:collapse;width:100%;background-color:#efefef">
    <tbody>
    <tr>
      <td style="padding:24px 0 16px 0">
        <div style="margin:auto;max-width:700px;min-width:280px;width: 90%;background-color:#fff;border-radius: 24px">
          <table role="presentation"
                 style="border-collapse:collapse;font-family:Roboto,Arial,Helvetica,sans-serif;hyphens:none;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;width:100%;margin:auto;max-width:700px;min-width:280px;text-align:left">
            <tbody>
            <tr>
              <td style="padding:0">
                <table role="presentation"
                       style="width:100%;background-color: #262626;color:#fff; border-radius:24px;border-spacing:0;table-layout:fixed;border-collapse:separate">
                  <tbody>
                  <tr>
                    <td dir="ltr" style="padding:4.5%">
                      <table style="margin: 0 auto; width:100%;margin-bottom:32px;">
                        <tbody>
                        <tr>
                          <td style="text-align: center;">
                            <div
                              style="overflow: hidden; width: 240px; display: inline-block;">
                              <img decoding="async" alt="Organizer"
                                   src="cid:logo"
                                   style="display: inline-block; width:50vw; width: 240px; height: auto; filter:invert(1); object-fit: contain;">
                            </div>
                            <div
                              style="font-family:Roboto,Arial,Helvetica,sans-serif;font-style:normal;font-size:28px;font-weight: bold;line-height:36px;color:#d9d9d9; text-align: center;word-wrap:break-word;word-break:break-word">
                              Your registration has been successful
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <table role="presentation"
                             style="border-collapse:collapse;font-family:Roboto,Arial,Helvetica,sans-serif;font-size:16px;line-height:24px;letter-spacing:0.1px;table-layout:fixed;width:100%;overflow-wrap:break-word">
                        <tbody>
                        <tr>
                          <td style="vertical-align:top;padding:12px">
                            <div>Dear {{full_name}}
                              <div
                                style="color:inherit;">We are pleased to
                                confirm that you have successfully
                                registered 18th Vietnam Black and White
                                HAT 2023.
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="vertical-align:top;padding:12px">
                            <div>This is your registration code:
                              <div
                                style="font-size: 24px; font-weight: bold; display: inline;">
                                {{player_code}}
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="vertical-align:top;padding:12px">
                          <div>Your player fee is
                            {{#if is_vietnam}}
                              <div
                                style="font-weight: bold; display: inline;">
                                {{ total_fee }} VND
                              </div>
                            {{else}}
                              <div
                                style="font-weight: bold; display: inline;">
                                {{ total_fee }} VND ≈ {{ total_foreign }} {{ currency }}
                              </div>
                              <br>(with exchange rate: 1 {{ currency }} = {{exchange_rate}} VND)
                            </div>
                            {{/if}}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>

          <table
            style="border-collapse:collapse;font-family:Roboto,Arial,Helvetica,sans-serif;hyphens:none;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;width:100%;margin:auto;max-width:700px;min-width:280px;text-align:left; font-size:14px">
            <tbody>
            <!-- For players in Vietnam, Malaysia, Singapore, Cambodia, Philippines -->
            {{#unless no_payment_method}}
              <tr>
                <td style="padding: 12px 4.5% 0;">
                  <div style="padding: 12px 0;">Payment menthod:
                  </div>

                  <div style="padding: 0 4.5%;">
                    {{#if is_vietnam}}
                      <table>
                        <tbody>
                        <tr style="vertical-align: top;">
                          <td>Bank transfer:
                          </td>
                          <td>Techcombank <br>
                            9903059569
                            <br>
                            Vu Anh Vu
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    {{/if}}

                    {{#if is_philippines}}
                      <table>
                        <tbody>
                        <tr style="vertical-align: top;">
                          <td>Bank transfer:
                          </td>
                          <td>PNB <br>
                            408410075948
                            <br>
                            Ngo, Lien T.
                          </td>
                        </tr>
                        <tr style="vertical-align: top;">
                          <td>Gcash:
                          </td>
                          <td>0992 252 7750
                            <br>
                            Lien N.
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    {{/if}}

                    {{#if is_singapore}}
                      <table>
                        <tbody>
                        <tr style="vertical-align: top;">
                          <td>Paynow:
                          </td>
                          <td>+65 90021198
                            <br>
                            Finn Koh
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    {{/if}}

                    {{#if is_cambodia}}
                      <table>
                        <tbody>
                        <tr style="vertical-align: top;">
                          <td>Bank transfer:
                          </td>
                          <td>ABA <br>
                            002 182 907 <br>
                            Koh Jie Yu
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    {{/if}}
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align:top;padding:12px 4.5%">
                  <div>
                    To guarantee your slot, please make the full payment within 7 days from your registered date. It
                    would help us to prioritize the players and thoroughly prepare for you and the tournament.
                  </div>
                </td>
              </tr>
            {{else}}

              <!-- For players NOT in Vietnam, Malaysia, Singapore, Cambodia, Philippines -->
              <tr>
                <td style="vertical-align:top;padding:12px 4.5%">
                  <div>To guarantee your slot, please provide your flight ticket or hotel/motel
                    booking for assurance, and you can pay at the tournament then.
                  </div>
                </td>
              </tr>
            {{/unless}}

            <!-- For Vietnamese players -->
            {{#if is_vietnam}}
              <tr>
                <td style="vertical-align:top;padding:12px 4.5%">
                  <div>If you unfortunately cannot attend the tournament, please inform us at
                    least 7 days before
                    D-Day, and show your evidence (as flight ticket or hotel/motel booking) to
                    be refunded 80% of the paid player fee.
                  </div>
                </td>
              </tr>

            {{else}}
              <!-- For foreign players -->
              <tr>
                <td style="vertical-align:top;padding:12px 4.5%">
                  <div>If you unfortunately cannot attend the tournament, please inform us at
                    least 14 days before D-Day, and show your
                    evidence (as flight ticket or hotel/motel booking) to be refunded 80% of the
                    paid player fee.
                  </div>
                </td>
              </tr>
            {{/if}}

            {{#if is_student}}
              <!-- For student players -->
              <tr>
                <td style="vertical-align:top;padding:12px 4.5%">
                  <div>For students, in case of the lack of finance, you can pay 50% fee before D-Day then pay the rest
                    till 16.02.2024
                  </div>
                </td>
              </tr>
            {{/if}}

            <tr>
              <td style="padding: 12px 4.5%;">
                <div style="padding: 12px 0;">If you have any concerns, do not hesitate to contact us via:
                </div>

                <div style="padding: 0 4.5% 12px;">
                  <table>
                    <tbody>
                    <tr style="vertical-align: top;">
                      <td>Email:
                      </td>
                      <td><a href="mailto:vietnamhat.ultimate@gmail.com" target="_blank" style="color:#000">vietnamhat.ultimate@gmail.com</a>
                      </td>
                    </tr>
                    <tr style="vertical-align: top;">
                      <td>Phone/WhatsApp:
                      </td>
                      <td><a href="tel:+84903059569" target="_blank" style="color:#000">+84 90 305 95 69</a> - Mr. Vu
                        Anh Vu
                      </td>
                    </tr>
                    <tr style="vertical-align: top;">
                      <td>Fanpage Vietnam HAT:
                      </td>
                      <td><a href="https://www.facebook.com/VietNamHatVNH/" target="_blank" style="color:#000">https://www.facebook.com/VietNamHatVNH/</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div style="padding: 12px 0;">Once again, thank you so much for registration, and see you at the 18th
                  Vietnam Black and White HAT 2023. <br><br>
                  Best regards, <br>
                  Vietnam Hat's Organizers.
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <table role="presentation"
               style="border-collapse:collapse;width:90%;margin:auto;max-width:700px;min-width:280px;margin-top:12px;">
          <tbody>
          <tr>
            <td style="padding:24px 4.5%">
              <table dir="ltr"
                     style="border-collapse:collapse;width:100%; text-align: center;">
                <tbody>
                <tr>
                  <td
                    style="padding:0;font-family:Roboto,Arial,Helvetica,sans-serif;color:#5f6368;font-size:12px;line-height:16px;min-height:40px;">
                    Vietnam Hat 2023 - Ho Chi Minh City,
                    <div
                      style="display: inline-block;">December 16th-17th
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    style="padding:6px 0 0;font-family:Roboto,Arial,Helvetica,sans-serif;color:#5f6368;font-size:12px;line-height:16px;min-height:40px;">
                    Subcribe the tournament latest updates on event page
                    <a href="https://fb.me/e/4B62N1sT4"
                       style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color:#000">
                      VIETNAM HAT 2023
                    </a>
                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>
